# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Anup Kishore
  email = anup.kishore@gmail.com

[push]
  default = current
  followTags = true
  autoSetupRemote = true
[rebase]
  updateRefs = true
  autoSquash = true
  rebaseMerges = rebase-cousins
[core]
  editor = vim
  excludesfile = ~/.gitignore_mac
  autocrlf = input
[fetch]
  prune = true
[alias]
  watch-files = !"cd $(git rev-parse --git-common-dir); find refs/heads refs/remotes worktrees/*/HEAD -type f | xargs -L1 realpath"
  debug  = "!set -x; GIT_TRACE=2 GIT_CURL_VERBOSE=2 GIT_TRACE_PERFORMANCE=2 GIT_TRACE_PACK_ACCESS=2 GIT_TRACE_PACKET=2 GIT_TRACE_PACKFILE=2 GIT_TRACE_SETUP=2 GIT_TRACE_SHALLOW=2 git"

  ch = checkout
  ff = merge --ff-only
  fff = !"git fetch -p && git merge --ff-only"
  nf = merge --no-ff
  noff = merge --no-ff
  local-prune = !"git branch --merged | grep -Ev '\\*|main|develop|release*' | xargs -n1 -p git branch -d"
  edit-prune = !"git branch --merged | grep -Ev '\\*|main|develop' >/tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches"
  freebase = !"git fetch && git rebase"
  followers = !": git checkout ; git branch --format='%(refname:short)' --contains $1@{1}"
  follow = !": git checkout ; git followers $1 | xargs -n 1 git rebase --onto $1 $1@{1} && git checkout $1"
  move = !"git rebase $1 $2 && git follow $2"
  fix-local = !bash -c 'git push origin +${1:-develop}:$(git rev-parse --abbrev-ref HEAD)'
  pushup = push -u origin HEAD
  sync-tags = !"git tag -d $(git tag -l) && git fetch"
  awesome-diff = !bash -c 'tig ${1:-develop} ${2:-HEAD} ^$(git merge-base --all ${1:-develop} ${2:-HEAD})~1'

  files = ! "git status --short | awk '{ print $2 }'"

  lsb         = branch --format '%(refname:short)'
  lst         = ! "git for-each-ref --format '%(refname:short)' refs/tags | grep -v -F \"$(git ls-remote --tags origin | grep -v \\'\\^{}\\' | cut -f2)\""

  br-info     = branch --format '%(refname:short) %(upstream:short)'
  lsba        = !"git br-info | tr ' ' '\n' | grep -v '^$'"
  lsbr        = !"git branch --format '%(upstream:short)' | grep -v '^$'"
  remote-only = lsbr
  local-only  = lsb
  ls-branches = !"echo Local:; git local-only; echo \"\\nRemote:\"; git remote-only"
  merge-root  = !"echo $(git lsba) $(git lst) | xargs git merge-base --octopus HEAD"
  ls-all      = !"echo $(git lsba) $(git lst) $(git merge-root)~1..."
  ls-local    = !"echo $(git lsb) $(git merge-base --octopus HEAD $(git lsb) $(git lst))"

  wip = !"git add -A && git commit -nm 'WIP'"

  lg = !"git lg1"
  lg1 = !"git lg1-specific --all"
  lg2 = !"git lg2-specific --all"
  lg3 = !"git lg3-specific --all"

  lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

  get-remote-dir = !": git fetch && f() { git remote get-url $1 | tr '\\\\' '!' | sed -e 's/^!!wsl\\.localhost!Ubuntu//' | tr '!' '/'; } && f"
  oldest-ancestor = !: git checkout && bash -c 'diff --old-line-format= --new-line-format= <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -

[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
  tool = fugitive
  defaultToUpstream = true
[status]
  submodulesummary = 1
[tag]
  sort = v:refname
[init]
  defaultBranch = main
