# See https://gist.github.com/gregorynicholas/1812027
set completion-ignore-case on
set visible-stats on
set editing-mode vi
set keymap vi
set show-mode-in-prompt on

# From http://www.ukuug.org/events/linux2003/papers/bash_tips/
# Incremental searching with Up and Down. Type 'ssh <up>' to get the last 'ssh' command you used
"\e[A": history-search-backward
"\e[B": history-search-forward
"jk": vi-movement-mode

# Add escape to insert mode, and also up/down in insert-mode
set keymap vi-insert
"jk": vi-movement-mode
"\e[A": history-search-backward
"\e[B": history-search-forward
